<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>New haven - @ViewBag.Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <environment include="Development">
           <!-- Styles -->
        <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" media="screen">
		<link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet" media="screen">
        <link href="~/assets/css/style.css" rel="stylesheet" media="screen">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
        <link href="~/assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    </environment>
    <!-- Input bootstrap cdn here for non Development environment -->
</head>
<body>
    <partial name="~/Views/Shared/_Header.cshtml" />

    @RenderBody()

    <partial name="~/Views/Shared/_Footer.cshtml" />
<environment>
      <!-- Scripts -->
        <script src="~/assets/js/jQuery_v3_2_0.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
		<script src="~/assets/plugins/owl.carousel.min.js"></script>
        <script src="~/assets/js/js.js"></script>
</environment>

@RenderSection("Scripts", required: false);
</body>
</html>