<!-- SIDE MENU -->
			<div class="sidebar-nav-wrapper" id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li>
						<a href="admin-dashboard.html"><i class="fa fa-home menu-icon"></i> HOME</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user-secret menu-icon"></i> OTHER ADMIN <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="create" asp-controller="admin"><i class="fa fa-caret-right"></i>ADD</a>
							</li>
							<li>							
								<a asp-action="update" asp-controller="admin"><i class="fa fa-caret-right"></i>UPDATE DATA</a>
							</li>
							<li>
								<a asp-action="index" asp-controller="admin"><i class="fa fa-caret-right"></i>ALL ADMINISTRATORS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user-plus menu-icon"></i> USER ROLES<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="addroles" asp-controller="userroles"><i class="fa fa-caret-right"></i>ADD</a>
							</li> 
							<li>
								<a asp-action="allroles" asp-controller="userroles"><i class="fa fa-caret-right"></i>ALL ROLES</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-users menu-icon"></i> STUDENTS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="addstudent" asp-controller="student"><i class="fa fa-caret-right"></i>REGISTER NEW STUDENT</a>
							</li>
							<li>
								<a asp-action="allstudents" asp-controller="student"><i class="fa fa-caret-right"></i>ALL STUDENTS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user-secret menu-icon"></i> TEACHERS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="addteacher" asp-controller="teacher"><i class="fa fa-caret-right"></i>ADD</a>
							</li>
							<li>
								<a asp-action="allteachers" asp-controller="teacher"><i class="fa fa-caret-right"></i>ALL TEACHER</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li>
						<a href="message.html"><i class="fa fa-envelope menu-icon"></i> MY MESSAGES</a>
					</li>
					<li>
						<a href="admin-add-announcement.html"><i class="fa fa-bullhorn menu-icon"></i> ANNOUNCEMENTS</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-file-o menu-icon"></i> CLASSES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="admin-add-class.html"><i class="fa fa-caret-right"></i>ADD CLASS</a>
							</li>
							<li>
								<a href="admin-add-section.html"><i class="fa fa-caret-right"></i>ADD SECTION</a>
							</li>
							<li>
								<a href="admin-add-class.html"><i class="fa fa-caret-right"></i>VIEW SECTIONS</a>
							</li>
							<li>
								<a href="admin-add-section.html"><i class="fa fa-caret-right"></i>VIEW CLASSES</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-institution menu-icon"></i> FACULTIES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="addfaculty" asp-controller="faculty"><i class="fa fa-caret-right"></i>ADD FACULTY</a>
							</li>
							<li>
								<a asp-action="allfaculties" asp-controller="faculty"><i class="fa fa-caret-right"></i>ALL FACULTIES</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>


						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-industry menu-icon"></i> DEPARTMENTS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="adddepartment" asp-controller="department"><i class="fa fa-caret-right"></i>ADD DEPARTMENT</a>
							</li>
							<li>
								<a asp-action="alldepartments" asp-controller="department"><i class="fa fa-caret-right"></i>ALL DEPARTMENTS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-calendar menu-icon"></i> COURSE YEAR <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="courseyearregistration" asp-controller="courseyear"><i class="fa fa-caret-right"></i>ADD NEW COURSE YEAR</a>
							</li>
							<li>
								<a asp-action="allregisteredcourseyears" asp-controller="courseyear"><i class="fa fa-caret-right"></i>ALL REGISTERED COURSE YEARS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>


					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-book menu-icon"></i> COURSES <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a asp-action="registercourse" asp-controller="course"><i class="fa fa-caret-right"></i>REGISTER A COURSE</a>
							</li>
							<li>
								<a asp-action="allcourses" asp-controller="course"><i class="fa fa-caret-right"></i>VIEW ALL COURSES</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-calendar menu-icon"></i> TIMETABLE <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="admin-create-timetable.html"><i class="fa fa-caret-right"></i>CREATE</a>
							</li>
							<li>
								<a href="admin-class-timetable.html"><i class="fa fa-caret-right"></i>VIEW</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-address-card menu-icon"></i> REPORTS <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>							
								<a href="teacher-attendence-report.html"><i class="fa fa-caret-right"></i>ATTENDENCE</a>
							</li>
							<li>
								<a href="teacher-marks-report.html"><i class="fa fa-caret-right"></i>MARKS</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div>