@model EditFacultyViewModel
<form asp-action="editfacultydata" asp-controller="faculty" method="post" id="editForm">  
    <div class="col-sm-4">
        <input type="hidden" value="@Model.Id" id="facultyId">
        <label  class="clear-top-margin"><i class="fa fa-barcode"></i>FACULTY CODE</label>
        <input asp-for="FacultyCode" value="@Model.FacultyCode"  id="facultyCode" />
        <span class="text-danger" asp-validation-for="FacultyCode"></span>
    </div>
    <div class="col-sm-4">
        <label   class="clear-top-margin"><i class="fa fa-institution"></i>FACULTY NAME</label>
        <input asp-for="FacultyName" value="@Model.FacultyName"  id="facultyName"/>
        <span class="text-danger" asp-validation-for="FacultyName"></span>
    </div> 
    <div class="clearfix"></div> 
</form>