@model CourseYearRegistrationViewModel

@{
    ViewData["Title"] = "Course Year Registration";
}


<div class="dash-item first-dash-item">
        <h6 class="item-title"><i class="fa fa-calendar-plus-o"></i>ADD NEW COURSE YEAR</h6>
        <form asp-action="courseyearregistration" asp-controller="courseyear" method="post">
            <div class="inner-item">
            <div class="dash-form">
                <label class="clear-top-margin" asp-for="YearTitle"><i class="fa fa-sticky-note-o"></i>COURSE YEAR TITLE</label>
                <input asp-for="YearTitle" placeholder="First Year" />
                <span class="text-danger" asp-validation-for="YearTitle"></span>
                
                <label asp-for="YearNumberRepresentation"><i class="fa fa-sort-numeric-asc"></i>NUMERICAL REPRESENTATION OF COURSE YEAR</label>
                <input asp-for="YearNumberRepresentation" placeholder="Faculty of Science and Tech" />
                <span class="text-danger" asp-validation-for="YearNumberRepresentation"></span>
               
                <div style="margin-top:20px;">
                    <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane"></i> CREATE</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </form>
     <div class="clearfix"></div>
 </div>
 