@model EditEventCategoryViewModel
<form asp-action="editcategory" asp-controller="eventcategory" method="post" id="editForm">   
    <div class="col-sm-4">
        <label class="clear-top-margin"><i class="fa fa-institution"></i>TITLE</label>
        <input asp-for="Title" value="@Model.Title"  id="Title"/>
        <span class="text-danger" asp-validation-for="Title"></span>
    </div> 
    <div class="clearfix"></div> 
</form>