@model NewCategoryViewModel


<div class="dash-item first-dash-item">
        <h6 class="item-title"><i class="fa fa-plus-circle"></i>ADD CATEGORY</h6>
        <form asp-action="NewCategory" asp-controller="EventCategory" method="post">
            <div class="inner-item">
            <div class="dash-form">  
                <label asp-for="Title"><i class="fa fa-institution"></i>TITLE</label>
                <input asp-for="Title" placeholder="CATEGORY of Science and Tech" />
                <span class="text-danger" asp-validation-for="Title"></span>
               
                <div style="margin-top:20px;">
                    <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane"></i> CREATE</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </form>
     <div class="clearfix"></div>
 </div>
 