@model EditAdminViewModel

@{
    ViewData["Title"] = "Edit";
}

<!-- MAIN CONTENT --> 
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 clear-padding-xs">
			<h5 class="page-title"><i class="fa fa-user-secret"></i>UPDATE ADMIN DATA</h5>
			<div class="section-divider"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12 clear-padding-xs">
			<div class="col-md-12">
				<div class="dash-item first-dash-item">
					<h6 class="item-title"><i class="fa fa-user-secret"></i>ADMIN DATA</h6>
					<div class="inner-item">
					<form enctype="multipart/form-data" asp-action="edit" asp-controller="admin" method="post"> 
                        <input type="hidden" asp-for="Id" />
						<div class="dash-form">
							<div class="col-sm-3">
								<label asp-for="Firstname" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>FIRST NAME</label>
								<input  asp-for="Firstname"  />
								<span asp-validation-for="Firstname" class="text-danger"></span>
							</div>
							<div class="col-sm-3">
								<label asp-for="Lastname" class="clear-top-margin"><i class="fa fa-user-circle-o"></i>LAST NAME</label>
								<input asp-for="Lastname"  />
								<span asp-validation-for="Lastname" class="text-danger"></span>
							</div>
							 
							<div class="clearfix"></div> 
                            <div class="col-sm-3">
								<label asp-for="PhoneNumber"><i class="fa fa-phone"></i>PHONE NUMNBER</label>
								<input asp-for="PhoneNumber"   />
								<span asp-validation-for="PhoneNumber" class="text-danger"></span>
							</div>
							<div class="col-sm-3">
								<label asp-for="EmailAddress"><i class="fa fa-envelope-o" ></i>EMAIL ADDRESS</label>
								<input asp-for="EmailAddress"   />
								<span asp-validation-for="EmailAddress" class="text-danger"></span>
							</div> 
							<div class="clearfix"></div>
							<div class="col-sm-3">
								<label><i class="fa fa-file-picture-o"></i>CHANGE EXISTING PHOTO...</label>
								<input asp-for="Image"  class="custom-file-input"/>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-12"> 
						</div>
                        
						<div class="col-sm-3" style="margin-top: 25px;">
                            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Update </button>
                            <button asp-controller="admin" asp-action="index" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel </button>
                        </div>
					</form>
					</div> 
					</div>
					<div class="clearfix"></div>
					
				</div>
			</div>
		</div>
	</div>
</div>
</div>
 <div class="menu-togggle-btn">
        <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars"></i></a>
    </div>



@section Scripts{
	<script src="~/dashboard/assets/js/Custom.js"></script>
}